body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  #map {
    height: 100vh;
    width: 100%;
  }
  .map-popup {
    font-size: 14px;
    max-width: 200px;
  }
  .map-popup img {
    width: 100%;
    height: auto;
    margin-top: 5px;
  }